doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='../../bower_components/jquery/dist/jquery.js')
    script(type='text/javascript', src='/javascripts/index_test.js')


  body
    block content
    //div(id="images")
    div#images

block content
  h1= title
  p Welcome to this  #{title}

script.
  console.log("in script in index_test");
  (function(){
  	var flickerAPI = "http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?";
  	$.getJSON( flickerAPI,{
  		tags:"mount rainier",
  		tagmode:"any",
  		format:"json"
  		})
  	.done(function(data){
  		$.each( data.items, function( i, item ) {
  			$( "<img>" ).attr( "src", item.media.m ).appendTo( "#images" );
  			if ( i === 3 ) {
  				return false;
  				}
  				});
  		});
  	})();
    console.log("out of script in index_test");


script.
//
  console.log("in script in index_test - get");
  (function(){
      $.ajax({
  type: "GET",
  url: "",
  data: $("").serialize()//"name=John&location=Boston"
  })
      .done( function(msg) {
  alert( "Data Saved: " + msg );
  })    
      .fail( function( xmlHttpRequest, statusText, errorThrown ) { 
  console.log("fvawfwgfa");
  });})();
  console.log("out of script in index_test - get");

script.
  console.log("in script in index_test - post");
  (function(){
      $.ajax({
  type: "POST",
  url: "..",
  //data: $({lastname:"pandey" })//.serialize()//"name=John&location=Boston"
  data: {
      tags:"mount rainier",
      tagmode:"any",
      format:"json"
      }
  })
      .done( function(msg) {
  console.log( "Data Saved: " + msg + "VINEET" );
  console.log("post success");
  })    
      .fail( function( xmlHttpRequest, statusText, errorThrown ) { 
  console.log("post fail");
  });})();
  console.log("out of script in index_test - post");
