div(ng-controller="ExampleCtrl")

form(name="login", action="/login", method="post")
      input(type="text", ng-model="user.name", name="name")
      input(type="email", ng-model="user.email", name="e-mail")
      input(type="radio", ng-model="user.gender" value="male", name="gender") 
      input(type="radio", ng-model="user.gender" value="female", name="gender")
      input(type="button", ng-click="reset()", value="Reset") 
      input(type="submit", ng-click="update(user)", value="Save") 

  //<form novalidate class="simple-form">
    Name: <input type="text" ng-model="user.name" /><br />
    E-mail: <input type="email" ng-model="user.email" /><br />
    Gender: <input type="radio" ng-model="user.gender" value="male" />male

    <input type="radio" ng-model="user.gender" value="female" />female<br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Save" />
  //</form>
//pre
  /
  user = {{"user | filer : json"}}
  master = {{master | json}}
  //<pre>user = {{user | json}}</pre>
  //<pre>master = {{master | json}}</pre>
//</div>
